#container-companyform {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
#company-form {
  margin-top: 8rem;
  width: 40rem;
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#company-form h1 {
  font-family: "Montserrat", sans-serif;
  font-family:Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
}
#author-form img {
  width: 88px;
  height: 88px;
}
.inputCompanyForm {
  width: 80%;
  height: 2.5rem;
  border-bottom: 1px solid black;
}
#button-company {
  background: linear-gradient(153.39deg, #F97316 -13.9%, #F97316 58.69%);
  border-radius: 50000px;
  width: 60%;
  height: 3rem;
  font-family: "Montserrat";
  font-family:Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;

  color: #ffffff;
}