.card-container {
    width: 23rem;
    height: 14rem;
    display: flex;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
}

.span-card {
    height: 17.78vh;
    width: 0.4vw;
    background: #F97316;
}

.span {
    height: 9rem;
    width: 0.3rem;
    background: #F97316;
}

.inf-card {
    width: 11rem;
    height: 11rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1vh;
    padding-left: 1.5vh;
    padding-top: 4vh;
}

.img-card {
    width: 12rem;
    height: 11rem;
    object-fit: cover;
    object-position: center;
    border-radius: 90px 10px 10px 90px;

}

.title-card {
    width: 10rem;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    position: relative;
    top: 3.7rem;
}

.category-card {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #F97316;
    position: relative;
    bottom: 2.5rem;
}

.type-card {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 95.19%;
}

.contenedorMiniBottons {
    display: flex;
    width: 40%;
    justify-content: space-between;
}

.btn-card-mini {
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid #222222;
    background-color: transparent;
    border-radius: 50%;
}

.btn-card-mini>img {
    width: 50%;
}

.contenedorBottons {
    display: flex;
    justify-content: space-evenly;
    position: relative;

    top: -1.5rem;
}

.btn-card-editar {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 12px;
    gap: 10px;

    width: 70px;
    height: 35px;

    background: #E0DBFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
    border-radius: 50px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #8883F0;
}

.btn-card-eliminar {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 12px;
    gap: 10px;

    width: 70px;
    height: 35px;

    background: #FBDDDC;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
    border-radius: 50px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #EE8380;
}

.red-span {
    background-color: #EF8481;
}

.orange-span {
    background-color: #FC9C57;
}

.green-span {
    background-color: #00BA88;
}

.purple-span {
    background-color: #8883F0;
}

.red-type {
    color: #EF8481;
}

.orange-type {
    color: #FC9C57;
}

.green-type {
    color: #00BA88;
}

.purple-type {
    color: #8883F0;
}

/* MODAL DE DELETE */
.modalDeConfirmaciónDelete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 371px;
    height: 138px;
    left: calc(50% - 371px/2 + 0.5px);
    top: calc(50% - 338px/2);

    background: #F2F2F7;
    backdrop-filter: blur(27.1828px);

    border-radius: 14px;
}

.innerModal {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.textModal {
    height: 70%;
    display: flex;
    text-align: center;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 18px;
}

.modalButtons {
    height: 30%;
    display: flex;
    justify-content: space-evenly;
}

.botonModalYES {
    background-color: transparent;
    border: none;
    color: #EE8380;

    width: 169.25px;
    height: 22px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
}

.botonModalNO {
    background-color: transparent;
    border: none;
    color: #0A7AFF;

    width: 169.25px;
    height: 22px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
}

/* MODAL DE EDICIÓN */
.modalEDITE {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 400px;
    height: 500px;
    left: calc(50% - 371px/2 + 0.5px);
    top: calc(50% - 500px/2);

    background: #F2F2F7;
    backdrop-filter: blur(27.1828px);

    border-radius: 14px;
}

.innerFormulario>legend {
    font-size: large;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
}

.inputsEdit {
    outline: #222222;
    border: red !important;
    width: 90%;
    height: 25px;
    border-radius: 15px;
    padding-left: 0.5rem;
    margin-bottom: 0.1rem;
}

.SignUpButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(162.88deg, #FF5722 -11.37%, #F97316 73.97%);
    border-radius: 10px;
    box-shadow: 4px 4px 1px #f8a56a;
    border: none;
    color: #fff;

    width: auto;
    height: 38px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
}

.botonModalCANCEL {
    background-color: transparent;
    border: none;
    color: #0A7AFF;

    width: 169.25px;
    height: 22px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
}

.FormularioRegistro {
    width: 90%;
    margin: 0 auto;
}


@media (max-width:1023px) {
    .card {
        width: 50vw;
    }

    .span-card {
        width: 0.8vw;
    }

    .inf-card {
        width: 25vw;
    }

    .img-card {
        width: 25vw;
    }

    .card-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width:767px) {
    .card {
        width: 80vw;
    }

    .span-card {
        width: 0.8vw;
    }

    .inf-card {
        width: 30vw;
    }

    .img-card {
        width: 32vw;
    }

    .card-container {
        width: 100vw;
    }

    .modalEDITE {
        width: 90vw;
        height: 550px;
        top: calc(50% - 600px/2);
        left: calc(50% - 90vw/2);
    }
}

@media (max-width:424px) {
    .card {
        height: 20vh;
    }

    .span-card {
        width: 1vw;
        height: 14vh;
    }

    .inf-card {
        height: 20vh;
        padding-top: 4vh;
    }

    .img-card {
        height: 20vh;
    }
}