.contenedorGeneral{
    /* border: yellow 2px solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /*configurar correctamente la altura */
    /* min-height: 140vh; */
    
}

.primerContenedor{
    /* border: blueviolet 2px solid; */
    width: 60%;
    height: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.mangaImagen{
    height: 22rem;
}

.statsReactions{
    display: flex;
    flex-direction: column;
    height: 45%;
    align-items: center;
    justify-content: center;
/* 
    border: green 2px solid; */
}

.conenedorDeBotones{
    /* border: yellow 2px solid; */
    width: 60%;

    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    padding: 1rem;
}

.botones{
    width: 195.63px;
    height: 38px;
    left: 20px;
    top: 703px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: white;

    background: #F97316;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

.ocultar{
    display: none;
}

.contenedorDescription{
    /* border: palevioletred 2px solid; */
    width: 95%;

    text-align: justify;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #424242;
}

.contenedorChapters{
    /* border: red 2px solid; */
    width: 80%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.innerContenedorChapter{
    display: flex;
    /* border: blue 2px solid; */
    padding: 1rem;
    width: 80vw;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.ChapterInfo{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    color: #000000;
}

.chapterImage{
    width: 8.5rem;
    height: 8.5rem;
}

.btn-read{
    color: white;
    width: 151px;
    height: 74px;
    left: 238px;
    top: 0px;

    /* primary two design */
    background: #F97316;
    border-radius: 50000px;
}

@media (max-width:767px ) {
    .conenedorDeBotones{
        width: 90%;
    }

    .contenedorDescription{
        /* border: palevioletred 2px solid; */
        width: 95%;
    
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #424242;
    }

    .contenedorChapters{
        /* border: red 2px solid; */
        width: 100vw;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    .innerContenedorChapter{
        display: flex;
        padding: 0.5rem;
        width: 90vw;
        gap: 1rem;

        /* border: #F97316 2px solid; */
        
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .ChapterInfo{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;
        text-align: center;
    
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
    
        color: #000000;
    }

    .chapterImage{
        width: 7rem;
        height: 7rem;
    }
}